body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #262626;
	background: #f2f2f2;

}

div {
	width: 100%;
}

#cabecalho{
	border: 1px solid red;
	background: #f1f1f1;	
}

#corpo{
	border: 1px solid red;
	width: 560px;
	margin: 0 auto;
	background: #fff;
	float: left;
}

#rodape{
	border: 1px solid red;
	float: left;
	height: 80px;
}