body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;

}

fieldset{
	margin: 1em 0;
	padding: 1em;
	border-top: 1px solid #ccc;
	background: #f8f8f8;

}

legend {
	font-weight: bold;

}

label{
	display: block;
	cursor: pointer;
}

input[type="text"] {
	width: 20em;
}

textarea{
	width: 20em;
	height: 10em;
}

input.radio, 
input.checkbox, 
input.submit {
	width: auto;
}

.radio{
	margin-right: 0.3em;
}

select{
	margin: 1em 0;
	padding: 1em;
	border-top: 1px solid #ccc;
	background: #f8f8f8;

}